@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

body {
    margin: 0;
    background-color: #ffffff;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    width: 100%;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    padding: 10px 0;
}

.text1, .text2 {
    margin: 0 37vw;
    font-family: 'Pretendard-Regular', sans-serif;
    font-size: 1vw;
    text-align: center;
}

.logo {
    width: 6vw;
    height: auto;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center; /* 그리드 아이템을 중앙에 정렬 */
    gap: 5vw;
    width: 90vw;
    margin: 0 auto;
    flex: 1;
}

.image-link {
    display: block; /* 전체 링크가 클릭 가능하도록 */
    position: relative;
    z-index: 2;
}

.image {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.main-image {
    display: block;
    width: 100vw;
    height: auto;
    margin: 0;
    flex-shrink: 0;
}

@media (max-width: 768px) {
    .text1, .text2 {
        font-size: 1vw;
        margin: 0 20vw;
    }

    .image-grid {
        grid-template-columns: 1fr;
        width: 100vw;
        gap: 3vw;
    }

    .logo {
        width: 8vw;
    }
}

main {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0;
}
